<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.campybehappy">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CampyBeHappy">
        <activity android:name=".Controller.Pages.DetailsCampActivity"></activity>
        <activity android:name=".Controller.Pages.ProfileActivity" />
        <activity android:name=".Controller.Pages.HistoryActivity" />
        <activity android:name=".Controller.Pages.FavoriteActivity" />
        <activity android:name=".Controller.Pages.AddCampActivity" />
        <activity android:name=".Controller.Pages.SearchActivity" />
        <activity android:name=".Controller.Pages.HomeActivity" />
        <activity android:name=".Controller.Pages.WelcomeActivity" />
        <activity android:name=".Controller.Pages.RegisterActivity" />
        <activity android:name=".Controller.Pages.LoginActivity" />
        <activity android:name=".Controller.Pages.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>